<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event on="onQuiqqerInvoiceTemporaryInvoicePostBegin"
           fire="\QUI\ERP\Accounting\Payments\Transactions\EventHandler::onQuiqqerInvoiceTemporaryInvoicePostBegin"
    />
    <event on="onTransactionSuccessfullyRefunded"
           fire="\QUI\ERP\Accounting\Payments\Transactions\EventHandler::onTransactionSuccessfullyRefunded"
    />
    <event on="onPackageSetup"
           fire="\QUI\ERP\Accounting\Payments\Transactions\EventHandler::onPackageSetup"
    />
</events>