.quiqqer-payment-transactions-refund {
    position: relative;
}

.information-invoice-field:hover {
    background: #2F8FC6;
    color: #fff;
    cursor: pointer;
}

.refund-value-currency {
    text-align: center;
    width: 50px;
}

.quiqqer-payment-transactions-refund-transaction textarea:disabled {
    color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
    border: 1px solid rgba(147, 128, 108, 0.25);
}

/** transactions
 ========================================== */

.quiqqer-payment-transactions-refund-transaction {
    position: relative;
}

.quiqqer-payment-transactions-refund-transaction .comment label,
.quiqqer-payment-transactions-refund-transaction .comment textarea {
    height: 120px;
    width: 100% !important;
}
