.quiqqer-payment-transactions-refund {
    position: relative;
}

.information-invoice-field:hover {
    background: #2F8FC6;
    color: #fff;
    cursor: pointer;
}

/** transactions
 ========================================== */

.quiqqer-payment-transactions-refund-transaction {
    position: relative;
}

.quiqqer-payment-transactions-refund-transaction .comment label,
.quiqqer-payment-transactions-refund-transaction .comment textarea {
    height: 120px;
    width: 100% !important;
}
